__pycache__/
.pytest_cache/
*.py[cod]
*$py.class

.cursor/
.vscode/

leg_odom/features/precomputed*/
legacy/
output*/
tests/
/*.md
!/README.md
!/docs/
!/examples/
/leg_odom/training/nn/pretrained_*/
/leg_odom/training/ssl_nn 
